{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Cash Flow</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
    <a href="{% url 'home' %}">Главная</a> |
    <a href="{% url 'transaction_list' %}">Транзакции</a> |
    <a href="{% url 'reference_list' %}">Справочники</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const flash = document.querySelector('.flash-message');
    if (flash) {
        setTimeout(() => {
            flash.style.transition = 'opacity 0.7s';
            flash.style.opacity = '0';
            setTimeout(() => flash.remove(), 700);
        }, 2500);
    }
});
</script>
</body>
</html>