{% extends "transactions/base.html" %}
{% block content %}
<h2>Список транзакций</h2>

<div class="filter-form">
    <h3>Фильтры</h3>
    <form method="get">
        <div class="form-row">
            {{ filter_form.as_p }}
            <button type="submit">Применить фильтр</button>
            <a href="{% url 'transaction_list' %}">Сбросить</a>
        </div>
    </form>
</div>

<a href="{% url 'transaction_create' %}">Добавить транзакцию</a>
<table>
    <tr>
        <th>Дата</th>
        <th>Статус</th>
        <th>Тип</th>
        <th>Категория</th>
        <th>Подкатегория</th>
        <th>Сумма</th>
        <th>Комментарий</th>
        <th>Действия</th>
    </tr>
    {% for t in transactions %}
    <tr>
        <td>{{ t.date }}</td>
        <td>{{ t.status.name }}</td>
        <td>{{ t.type.name }}</td>
        <td>{{ t.category.name }}</td>
        <td>{{ t.subcategory.name }}</td>
        <td>{{ t.amount }} &#8381;</td>
        <td>{{ t.comment }}</td>
        <td>
            <a href="{% url 'transaction_edit' t.id %}">Изменить</a> |
            <a href="{% url 'transaction_delete' t.id %}">Удалить</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8">Нет транзакций</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}